<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Humans currently in space</ion-card-title>
      <ion-card-subtitle>provided by api.open-notify.org/astros.json</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let human of this.apiService.list">
          <ion-thumbnail slot="start">
            <img alt="Anonymous profile picture" src="https://cdn2.iconfinder.com/data/icons/user-avatars-3/100/Astronaut-512.png" />
          </ion-thumbnail>

          <ion-label>{{human.name}}<p>{{human.craft}}</p></ion-label>

        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
